 header{
	 background-color: darkslateblue;
	 padding-bottom: 0.5em;
	 
	 margin-bottom: 2em;
 }
 h1 {
	font-family: 'Fascinate Inline', cursive;
	font-size: 44px;
	vertical-align: bottom;
	display: inline-block;
	padding-left: 3%;
	padding-right: 20%;
 }
 header div{
	display: inline-block;
	}
	header button{
		display: inline-block;
		}
 aside {
	display: flex;
	justify-content: space-between;
}
.now{
	flex: 0 0 70%; margin: 2px;
	order:1;
}
.soon{
	flex: 0 0 20%; margin: 2px;
	order:2;
}
.soonCinema img {
	width:100px;
}
.soonCinema p {
	width:200px;
	display: none;
}
.nowCinema{
	-webkit-flex: 3 1 auto;
	flex: 3 1 auto;
}
.nowCinema img{
	width:200px;
}
.nowCinema p{
	width:350px;
	display: none;
}
.flexConteiner_now{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	justify-content:center;
}
