div.PhonesBlockPhone {
    padding: 2px 0;
}

div.PhonesBlockPhones:active {
    font-size: 22px;
    color: red;
}

div.PhonesBlockPhones:hover {
    background-color: yellow;
    cursor: pointer;
}

.PhonesBlockPhones .Count {
    float: right;
    width: 30px;
    font-weight: bold;
    text-align: right;
}

.PhonesBlockPhones .Brand {
    margin-right: 30px;
    font-size: 18px;
    font-weight: bolder;
    font-family: cursive;
}